TELEGRAM_BOT_TOKEN=7363458929:AAFiPJfJd5d-LGtAp_rq12SZjtwHy9khNJw SUPABASE_URL=https://ahllvujlnbauzmvceldd.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFobGx2dWpsbmJhdXptdmNlbGRkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzU0MDUyMTYsImV4cCI6MjA1MDk4MTIxNn0.dPgU3Lsybk2FI98WbDiPG6TCO-Zl-DYsveUC_Q51UBw